//media quarie del index
@media only screen and (max-width: 480px){
    nav{
        .icono{
            display: none;
        }
    .checkbtn{
        display: block
        
        ;
    }
    .menu{
        position: absolute;
        width: 100px;
        max-width: 240px;
        left: -125%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-flow: column;
    }
    }
    nav ul li a{
        font-size: 20px;
        justify-content: left;
        padding-left: 50%;
        text-align: center;
    }
    }
    #check:checked~ul{
        left: 0;
    }
    nav ul li{
        padding-left: 20px;
        margin-top: 40px;
    }
    //index
        .index{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "menu"
                                 "hUno"
                                 "hTres"
                                 "menu"
                                 "footer";
            
        }
        .primeraNoticia{
            display: grid;
            grid-area: hUno;
        }
        .primerP{
            display: flex;
        }
        .segundoP{
            display: flex;
            justify-content: center;
        }
        .segundoNoticia{
            display: grid;
            grid-area: hDos;
        }
        .tercerNoticia{
            display: flex;
            justify-items: center;
            margin: 20px;
        }
        .tituloTres{
            grid-area:hTres ;
            display: grid;
            text-align: center;
            
        }
        .menuDos{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .parteUno{
            margin: 5px 50px 50px 5px;
        }
        .nav{
            display: grid;
            grid-area: menu;
            justify-content: center;
        }
        .footer{
            display: grid;
            text-align: center;
            justify-content:center ;
            grid-area: footer;
        }
 //mercados
  .activos{
      display: flex;
      flex-direction: column;
  }

  //productos
  .imagenTres{
      transition: none;
  }

  
@media only screen and (max-width: 600px){
    nav{
        .icono{
            display: none;
        }
    .checkbtn{
        display: block
        
        ;
    }
    .menu{
        position: absolute;
        width: 100px;
        max-width: 240px;
        left: -125%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-flow: column;
    }
    }
    nav ul li a{
        font-size: 20px;
        justify-content: left;
        padding-left: 50%;
        text-align: center;
    }
    }
    #check:checked~ul{
        left: 0;
    }
    nav ul li{
        padding-left: 20px;
        margin-top: 40px;
    }

.index{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "menu"
                                 "hUno"
                                 "hTres"
                                 "menu"
                                 "footer";
            
        }
.primeraNoticia{
    display: grid;
    grid-area: hUno;
}
.primerP{
            display: flex;
        }
.segundoP{
            display: flex;
            justify-content: center;
        }
.segundoNoticia{
            display: grid;
            grid-area: hDos;
        }
.tercerNoticia{
            display: flex;
            justify-items: center;
        }
.tituloTres{
            grid-area:hTres ;
            display: grid;
            text-align: center;
            
        }
.menuDos{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
.parteUno{
        margin: 5px 50px 50px 5px;
        }
.nav{
            display: grid;
            grid-area: menu;
            justify-content: center;
        }
.footer{
            display: none;
            text-align: center;
            justify-content:center ;
            grid-area: footer;
}
@media only screen and (max-width:1024px){
    nav{
        .icono{
            display: none;
        }
    .checkbtn{
        display: block;
    }
    .menu{
        position: absolute;
        width: 100px;
        max-width: 240px;
        left: -125%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-flow: column;
    }
    }
    nav ul li a{
        font-size: 20px;
        justify-content: left;
        padding-left: 50%;
        text-align: center;
    }
    }
    #check:checked~ul{
        left: 0;
    }
    nav ul li{
        padding-left: 20px;
        margin-top: 40px;
    }   
    .index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "menu"
                             "hUno"
                             "hTres"
                             "menuDos"
                             "footer";
        
    }
    .primeraNoticia{
        display: grid;
        grid-area: hUno;
    }
    .primerP{
        display: flex;
        justify-content: center;
    }
    .segundoP{
        display: flex;
        text-align: center;
    }
    .segundoNoticia{
        display: grid;
        grid-area: hDos;
    }
    .tercerNoticia{
        display: flex;
        justify-items: center;
    }
    .tituloTres{
        grid-area:hTres ;
        display: grid;
        text-align: center;
        
    }
    .menuDos{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .parteUno{
        margin: 5px 50px 50px 5px;
    }
    .nav{
        display: grid;
        grid-area: menu;
        justify-content: center;
    }
    .footer{
        display: none;
        text-align: center;
        justify-content:center ;
        grid-area: footer;
    }


